/* palette 
blue: C2D4F2
maroon: #9E5F0F
red: 59100d
*/

.intro-header {
	margin-bottom: 5px;
}
.intro-header .site-heading h1, .intro-header .page-heading h1 {
	font-size: 40px;
}
.navbar-twitter {
    display: inline-block;
    margin-top: 16px;
    font-size: small;
}
p, li {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
}

a {
	color: #337AB7;
}

hr {
	border-color: #9E5F0F;
	margin: 3em 0px;
}

h2,h3,h4,h5{
	color: #59100D;
}

.post-preview {
	font-size: 0.9em
}
.post-preview > a > .post-title {
	font-size: 30px;
}

.post-preview > .post-subtitle {
	font-size: 22px;
}

.plain-text-link{
	font-size: 0.5em;
	font-weight: normal;
	display: block;
	font-style: normal;
}
